<div class="container">
  <h1 class="display-3">Hello, world!</h1>
  <h3>Thank you for coming to our site. Enjoy your quote guessing game.</h3>
  <p>Don't forget to sign up if you are new</p>
  <div class="r">
    <div class="row align-items-center">
      <%= link_to games_path, class: 'btn btn-primary btn-lg btn-block btn-huge' do %>
        <i class="fas fa-gamepad"></i> Play Now
      <% end %>
    </div>
  </div>
</div>
