<div class="container">
  <div class="container m-5 text-center" id="myResult" >
    <figure class="text-center m-5">
      <% if @game.has_guessed %>
        <blockquote class="blockquote">
          <p class="h2 text-success">Correct <i class="fa fa-check" aria-hidden="true"></i></p>
        </blockquote>
      <% else %>
        <blockquote class="blockquote">
          <p class="h2">No!</p>
        </blockquote>
        <blockquote class="blockquote h1">
          <p>The real answer was <%= @game.author%></p>
        </blockquote>
      <% end %>
      </figure>
    <%= link_to games_path, class: " btn btn-outline-success" do %>
    <i class="fa fa-repeat" aria-hidden="true"></i> Try another
    <% end %>
  </div>
</div>
