<div class="container">
  <div class="m-5 text-center" id="myResult" >
    <figure class="text-center m-5">
      <% if @game.has_guessed %>
        <blockquote class="blockquote">
          <p class="h2 text-success mb-5">Correct <i class="fa fa-check" aria-hidden="true"></i></p>
        </blockquote>
        <%= link_to games_path, class: " btn btn-outline-success" do %>
          <i class="fas fa-redo"></i> Try another
        <% end %>
      <% else %>
        <blockquote class="blockquote">
          <p class="h2">No!</p>
        </blockquote>
        <blockquote class="blockquote mb-5 h1">
          <p>The real answer was <%= @game.author%></p>
        </blockquote>
        <%= link_to games_path, class: " btn btn-outline-success" do %>
          <i class="fas fa-redo"></i> Try again
        <% end %>
      <% end %>
      </figure>
  </div>
</div>
