/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 @media only screen and (max-width: 600px) {
   .responsive-text {
    font-size: 13px;
   }
 }

 @media only screen and (max-width: 900px) {
   .responsive-text {
    font-size: 15px;
   }
 }


 @media only screen and (max-width: 390px) {
   .responsive-text {
    font-size: 10px;
   }
 }


 html,
 body{
   margin: 0;
   padding: 0;
 }
 .f-container{
   height: 100vh; /* for shorter content */
   display: flex;
   flex-direction: column;

   /*ie10*/
   display: -ms-flexbox;
   -ms-flex-direction: column;
 }

 .main{
   background-color: #eee;
   flex: 1;

   /*ie10*/
   -ms-flex: 1 1 auto; /*needs both shrink and grow*/
 }

 header,
 footer{
   background-color: #ccc;
   flex-basis: 100px;

   /*ie10*/
   -ms-flex-preferred-size: 50px;

   /*center align of links*/
   display: flex;
   align-items: center; /*vertical*/
   justify-content: space-around; /*or space-between*/
   /*ie10*/
   display: -ms-flexbox;
   -ms-flex-align: center; /*vertical*/
   -ms-flex-line-pack: distribute; /*or justify*/
 }

 footer {
   /*ie10 short content*/
   margin-top: auto;
 }
 header a{
   /*ie10*/
   /*hack to trigger the layout for horizontal alignment distribute/justify*/
   display: inline-block;
 }
 /* fixed header and footer with scrollable main section */
 .fixed-hf .main{
   overflow-y: auto;
 }
